{{>layout/head}}
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Dacis</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#A">거리에 나와(곽민석)</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#B">거리의 발걸음(이정현)</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#C">볼레로 올래(최수빈)</a></li>
            </ul>
        </div>
    </div>
</nav>
<script>
    window.onload = function(){
        var url = 'url("../assets/img/bolero/bolero_main_2.jpeg")';
        document.getElementById("mainImg").style.backgroundImage = url;
    }
</script>
<!-- Masthead-->
<header id = "mainImg" class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <br>
            <br>
            <h1 class="mx-auto my-0 text-uppercase">볼래로 거리의 BGM</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5" ><br><br>
                적당한 바람이 불어오는 계절<br><br>
                스르르 빠져든 거리<br><br>
            </h2>
        </div>
    </div>
</header>
<!-- music-->
<section class="projects-section bg-light text-center" id="A">
    {{>bolero/a}}
</section>
<section class="projects-section bg-dark text-center" id="B">
    {{>bolero/b}}
</section>
<section class="projects-section bg-light text-center" id="C">
    {{>bolero/c}}
</section>
<!-- 율리랜드의 관점>
<section class="projects-section bg-light" id="perspective">
    <div class="container">
        < Featured Project Row>
        <div class="row align-items-center no-gutters mb-4 mb-lg-5">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0"
            src="assets/img/bolero/bolero.jpeg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">

                </div>
            </div>
        </div>
    </div>
</section>
< 율리랜드의 관점-->
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50">
    <div class="container">Copyright &copy; Yullyland</div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
