{{>layout/head}}
<body id="page-top">
{{>layout/topbar}}
<script>
    window.onload = function(){
        var url = 'url("../assets/img/jinjumungo/bg-lighthouse.jpg")';
        document.getElementById("mainImg").style.backgroundImage = url;
    }
</script>
<!-- Masthead-->
<header id = "mainImg" class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">DACISX진주문고</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">
                <br><br>
                지금 저 광활한 밤바다의<br><br>
                어디쯤에선가<br><br>
                나의 빛을 발견하고 누군가<br><br>
                안도감을 느낄지도 모르니까요.<br>
            </h2>
            <div id="music-icon">
                <h3 class="text-white-50">Music</h3>
                <a class="btn btn-dark  font-weight-bold js-scroll-trigger" href="#music">음악듣기</a>
            </div><br>
            <div id="playlist-icon">
                <h3 class="text-white-50">Playlist</h3>
                <a class="btn btn-danger js-scroll-trigger" href="https://youtu.be/E_r3A7BYvrg">
                    <img class="mw-100" style="height: 30px; width: 30px;" src="../assets/img/youtube.png"/>
                </a>
                <a class="btn btn-success js-scroll-trigger" href="http://kko.to/3gKV2sLYp">
                    <img class="mw-100" style="height: 30px; width: 30px;" src="../assets/img/melon.png"/>
                </a>
                <a class="btn btn-primary js-scroll-trigger" href="http://genie.co.kr/YM3QC6">
                    <img class="mw-100" style="height: 30px; width: 30px;" src="../assets/img/genie.png" />
                </a>
            </div>

        </div>
    </div>
</header>
<!-- music-->
<section class="about-section text-center" id="music">
    <div class="container">
        <div class="row">
            <script data-ad-client="ca-pub-2711426309004526" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">진주문고를 위한 음악</h2>
                <p class="text-white-50">
                    진주문고의 분위기와 장소성을 잘 담아낸 지역의 작곡가가 작곡한 음악입니다.<br>
                    작곡된 음악의 소유권은 모두 Yullyland에 있으며 상업적 목적을 제외한 이용은 모두 가능합니다.
                </p>
                <h3 class="text-white-50">Etude</h3><h4 class="text-white-50">(습작)</h4>
                <h5 class="text-white-50">곡 김진규</h5>
                <audio controls>
                    <source src="../assets/audio/jinjumungo/etude.mp3" type="audio/mp3">
                </audio><br><br><br><br>
                <h3 class="text-white-50">Footfall</h3><h4 class="text-white-50">(발걸음)</h4>
                <h5 class="text-white-50">곡 김진규</h5>
                <audio controls>
                    <source src="../assets/audio/jinjumungo/footfall.mp3" type="audio/mp3">
                </audio><br><br><br><br><br><br><br><br>
            </div>

        </div>
    </div>
</section>
{{>layout/about-us}}
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright &copy; Yullyland</div></footer>
<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
