<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-dark mb-4">#1</h2>
            <h2 class="text-dark mb-4"></h2>
            <h3 class="text-dark-50">거리에 너와</h3><h4 class="text-dark-50">(곽민석)</h4>
            <h5 class="text-dark-50"></h5>
            <audio controls>
                <source src="../assets/audio/bolero/거리에너와.wav" type="audio/mp3">
            </audio>
        </div>
        <section class="projects-section bg-light" id="perspective">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../assets/img/bolero/boleroA.jpeg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4>"저의 이야기를 들려 드리고 싶습니다."</h4>
                            <p class="text-black-50 mb-0">‘거리에 너와’를 작곡한 곽민석입니다.<br>
                                여러분들은 볼래로 거리를 오가며 어떤 감정들을 느끼셨나요?<br>
                                벚꽃이 피고, 초록잎들이 무성하게 자라, 단풍이 들고, <br>
                                낙엽이 우수수 떨어지는 아름다운 볼래로 거리가 이 곡을 통해 더 사랑받을 수 있길 원합니다!<br>
                                <br>
                        </div>
                </div>
                    <!-- 작곡가별 소개란-->
                    <div class="container mt-3">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#lyricA">가사보기</button>
                        <div id="lyricA" class="collapse">
                            <br>적당한 바람이 불어오는 계절
                            <br>적당한 꽃잎이 흩날리고
                            <br>따스한 너의 옷자락에 취해
                            <br>스르르 스르르 빠져든 거리
                            <br>
                            <br>적당한 풀내음이 풍겨오는 계절
                            <br>새롭게 자란 초록색 마음
                            <br>푸르게 푸르게 변함없는 내 맘을
                            <br>네게 전하던 거리
                            <br>
                            <br>적당한 바람이 불어오는 계절
                            <br>적당한 낙엽이 흩날리고
                            <br>청초한 너의 하얀 옆모습에 취해
                            <br>스르르 스르르 빠져든 거리
                            <br>
                            <br>적당한 햇살이 느껴지는 계절
                            <br>해의 끝자락 보라색 마음
                            <br>하얗게 하얗게 변함없는 내 맘을
                            <br>네게 전하던 거리
                            <br>
                            <br>무심하게 찾아온 이곳에
                            <br>새롭고 오래된 마음만이
                            <br></br>가득하네
                            <br>
                            <br>적당한 하얀눈 내려오는 계절
                            <br>바보 눈사람 살갗이 스치고
                            <br>그렇게 그렇게 변함없는 내 맘을
                            <br>네게 전하던 거리
                            <br>
                            <br>적당한 바람이 불어오는 계절
                            <br>적당한 추억이 쌓이고
                            <br>아련한 너의 손 잡고
                            <br>저 별 바라보다
                            <br>스르르 빠져든 거리
                        </div>

                    </div>
                    <div class="container mt-3">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#careerA">작곡가 경력</button>
                        <div id="careerA" class="collapse">
                            <br>🎶 경상국립대학교 음악교육과 피아노전공
                            <br>🎶 2021 경남교원유스오케스트라 피아노 연주자
                            <br>🎶 2021 경상국립대학교 With Choir 합창단장
                            <br>🎶 KT&G 2021 상상유니브 경남 지역 대학생 보컬배틀 1등
                            <br>🎶 KT&G 2021 전국 대학생 아티스트 배틀 상상유니브 집현전 ‘보컬부문’ 우승
                            <br>🎶 2021 진주 남강유등축제 개막 공연
                            <br>🎶 2022 ‘진주의 BGM을 찾습니다’ 음악 공모전 최우수상
                            <br>
                            <br>프로필 링크
                            <br>Youtube :<a href="https://www.youtube.com/channel/UCa44qXdXxLebJGpQMOnjGNA">https://www.youtube.com/channel/UCa44qXdXxLebJGpQMOnjGNA</a>
                            <br>Instagram :<a href="https://www.instagram.com/msgbusker_/">https://www.instagram.com/msgbusker_/</a>
                            <br>Soundcloud :<a href="https://soundcloud.com/search?q=msgbusker">https://soundcloud.com/search?q=msgbusker</a>
                            <br>2021 상상유니브 집현전 : <a href="https://youtu.be/S5W53osbpwM">https://youtu.be/S5W53osbpwM</a>
                        </div>
                    </div>
                    <!-- 작곡가별 소개란-->
                </div>
            </div>
        </section>
    </div>
</div>