<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">#2</h2>
            <h2 class="text-white mb-4"></h2>
            <h3 class="text-white-50">거리의 발걸음</h3><h4 class="text-white-50">(이정현)</h4>
            <h5 class="text-white-50"></h5>
            <audio controls>
                <source src="../assets/audio/bolero/거리의 발걸음.wav" type="audio/mp3">
            </audio>
        </div>
        <section class="projects-section bg-dark" id="perspective">
            <div class="container">
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                    <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../assets/img/bolero/boleroB.jpeg" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left text-white">
                                <br>경상대학교의 인근에 위치한 볼레로 거리에서 볼 수 있는
                                <br>설렘과 기쁨이 녹아있는 느낌을 곡에 넣으려고 하였습니다.
                                <br>마림바와 비프라폰의 대화의 느낌으로 시작해서
                                <br>현악 4중주와 오보에, 트럼펫의 조화로 곡을 끝내면서
                                <br>한 층 더 밝은 느낌을 추구하였습니다.
                                <br>내가 거리를 걸어가지만, 거리가 어느새 나에게 걸어와
                                <br>기분 좋은 시간을 선물해준다는 생각의 시를 기반으로 쓰여진 뉴에이지곡입니다.
                                <br>
                        </div>
                    </div>
                    <!-- 작곡가별 소개란-->
                    <div class="container mt-3">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#lyricB">가사보기</button>
                        <div id="lyricB" class="collapse text-white">
                            <br>거리를 걸어본다.
                            <br>청춘의 시간이 스쳐 지나간다.
                            <br>우정, 사랑, 기쁨, 슬픔의 시간들이
                            <br>거리위에 한 겹 한 겹 자취를 남긴다.
                            <br>
                            <br>
                            <br>거리가 걸어온다.
                            <br>청춘들의 시간을 쫓아
                            <br>나에게 담담하게 걸어온다.
                            <br>
                            <br>
                            <br>거리가 말을 걸어온다.
                            <br>오늘도 변함없이
                            <br>거리에는 설렘이 쏟아진다.
                        </div>

                    </div>
                    <div class="container mt-3">
                        <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#careerB">작곡가 경력</button>
                        <div id="careerB" class="collapse text-white">
                            <br>🎶 프로필
                            <br>🎶 이정현 나이 27세(96)
                            <br>🎶 2020. 2 진주교대 음악교육과 재학
                            <br>🎶 2020 ~ 2021 진주교육대학교 음악 연주회 활동
                            <br>🎶 2022. 2 진주시 볼레로 거리 BGM 작곡 경연 대회 은상
                            <br>
                        </div>
                    </div>
                    <!-- 작곡가별 소개란-->
                </div>
            </div>
        </section>
    </div>
</div>