<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-dark mb-4">#3</h2>
            <h2 class="text-dark mb-4"></h2>
            <h3 class="text-dark-50">볼레로 올래</h3><h4 class="text-dark-50">(최수빈)</h4>
            <h5 class="text-dark-50"></h5>
            <audio controls>
                <source src="../assets/audio/bolero/볼레로올래.wav" type="audio/mp3">
            </audio>
            <section class="projects-section bg-light" id="perspective">
                <div class="container">
                    <!-- Featured Project Row-->
                    <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                        <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../assets/img/bolero/boleroC.jpeg" alt="..." /></div>
                        <div class="col-xl-4 col-lg-5">
                            <div class="featured-text text-center text-lg-left">
                                <br>진주시 볼레로 거리의 활기참을<br> 국악적인 선율과<br> 따라하기 쉬운 리듬으로<br> 표현한 곡입니다.
                                <br>시원한 태평소 소리로<br> 신나고 즐거웁게 <br>볼레로 거리를<br> 즐기셨으면 하는 <br>바램이 담겨져있습니다.
                                <br>
                            </div>
                        </div>
                        <!-- 작곡가별 소개란-->
                        <div class="container mt-3">
                            <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#careerC">작곡가 경력</button>
                            <div id="careerC" class="collapse">
                                프로필
                                <br>🎶 현재 우송정보대학 글로벌실용예술학부 작곡전공 재학중
                                <br>🎶 2020.2 ~ 현재 대전시 중구 대흥동 옐로우나이프 학원 소속 기타 강사
                                <br>🎶 2019~2021 유튜브 오드리양장점 활동
                                <br>🎶 2019.10대전 콘텐츠코리아랩 MCN 부분 최우수상 수상
                                <br>🎶 2020.2 대전 MBC ‘크리에이터 성장기 독전2’ 출연
                                <br>🎶 2020.10 MBC 음악 오디션 프로그램 ‘트로트의 민족’ 출연
                                <br>🎶 2021.1 여수 MBC ‘오마이싱어’ 출연
                                <br>🎶 2021.3 대전시 마스코트 캐릭터 ‘꿈돌이’ 주제가 작곡
                                <br>🎶 2021.5 SIAT 우송정보대학 글로벌실용예술학부 명장 경연 대회 은상
                                <br>🎶 2021.11 우송정보대학 글로벌실용예술학부 주제가 작곡 동상
                                <br>🎶 2022.2 진주시 볼레로 거리 BGM 작곡 경연 대회 동상
                            </div>
                        </div>
                        <!-- 작곡가별 소개란-->
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>