<div class="container">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h2 class="text-dark mb-4">볼래로의 BGM 3</h2>
            <h2 class="text-dark mb-4"></h2>
            <h3 class="text-dark-50">볼레로 올래</h3><h4 class="text-dark-50">(최수빈)</h4>
            <h5 class="text-dark-50"></h5>
            <audio controls>
                <source src="../assets/audio/bolero/볼레로올래.wav" type="audio/mp3">
            </audio>
        </div>
    </div>
</div>