<div class="container">
    <div class="row">
        <script data-ad-client="ca-pub-2711426309004526" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4">''을 위한 음악</h2>
            <h2 class="text-white mb-4">Music for ' Park'</h2>
            <h3 class="text-white-50">Etude</h3><h4 class="text-white-50">(습작)</h4>
            <h5 class="text-white-50"></h5>
            <audio controls>
                <source src="../assets/audio/jinjumungo/etude.mp3" type="audio/mp3">
            </audio>
            <h3 class="text-white-50">Footfall</h3><h4 class="text-white-50">(발걸음)</h4>
            <h5 class="text-white-50"></h5>
            <audio controls>
                <source src="../assets/audio/jinjumungo/footfall.mp3" type="audio/mp3">
            </audio>
        </div>
    </div>
    <h2 class="text-white mb-4">''을 위한 영상</h2>
    <h2 class="text-white mb-4">Video for ''</h2>

</div>